body {
    background-color: #eee;
}

.bg-color-1 {
    background-color: #000000;
}

.sidebar {
    padding: 20px;
    min-width: 250px !important;
}

.sidebar a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
}

.sidebar a:hover {
    background-color: #333;
    color: #fff;
}

/* Corrige o alinhamento do "entries per page" */
.dataTables_length {
    margin-bottom: 10px; /* dá um respiro embaixo */
}

.dataTables_length label {
    display: inline-flex;
    align-items: center;
    gap: 5px; /* espaço entre select e texto */
    font-size: 14px;
}

.dataTables_length select {
    margin: 0 5px;
    padding: 3px 6px;
    height: auto;
}